*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("images/background/bg.jpg");
    background-size: contain;
}
/*---------Header----------*/
.head{
   background-color: none;
    width: auto;
    height: 60px;
    margin: auto;
    margin-top: 10px;
}
.nav{
    background-color: ghostwhite;
    width: 1200px;
    height: 60px;
    margin: auto;
    
}
.email{
    background-color: none;
    width: 1100px;
    height: 60px;
    margin: auto;
    float: left;
    padding-left: 50px;
}
.social{
    background-color: none;
    width: 300px;
    height: 60px;
    margin: auto;
    float: left;
}
/*---------End Header-----*/

/*----nav------*/
ul{
    float: right;
    list-style-type: none;
    margin-top: 20px;
}
li{
    display: inline-block;
}
li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 24px;
    padding: 5px 20px;
    font-weight: bold;
}
li a:hover{
    background-color: darkorange;
    color: white;
    border: 1px solid white;
}

/*----End nav------*/

/*-----logo-------*/
.logo img{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    
}
/*-----end logo----*/
.sl{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    color: orange;
    font-family: Monotype Corsiva;
    font-weight: bolder;
    font-size: 20px;
}
/*--------main body---------*/

h2{
    font-family: Arial;
    text-align: center;
    padding-top: 5px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 55px;
    color: black;
    
}
h3{
    font-family: Arial;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: normal;
    color:white;
    
}
h4{
    font-family: Arial;
    text-align: center;
    padding-top: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color:white;
}
h4 a{
    color: white;
    text-decoration: none;
}
p{
    font-family: Arial;
    text-align: left;
    padding: 5px;
    font-weight: normal;
    font-size: 20px;
    color: gray;
}

.about-main{
    width: auto;
    height: 900px;
    background-color: white;
}
.about-box{
    width: 1200;
    height: 800px;
    background-color: none;
    margin: auto;
}
.about-txt{
    width: 780px;
    height: 800px;
    background-color: none;
    float: left;
}
.txt1{
    width: auto;
    height: 80px;
    background-color: none;
}
.txt2{
    width: auto;
    height: 700px;
    background-color: none;
    margin-top: 20px;
}
.about-pic{
    width: 400;
    height: 800px;
    background-color: none;
    margin-left: 20px;
    float: left;
}
.about-pic1{
    width: 400;
    height: 260px;
    background-color: none;
}
.about-pic2{
    width: 400;
    height: 260px;
    background-color: none;
    margin-top: 10px;
}
.about-pic3{
    width: 400;
    height: 260px;
    background-color: none;
    margin-top: 10px;
}
.space{
    background-color: none;
    width:auto;
    height: 50px;
    margin: auto;
}
.ha{
    background-color: none;
    width: 700px;
    height: 60px;
    margin: auto;
}
.pic{
    
    background-color:navajowhite;
    width:386px;
    height: 340px;
    margin: auto;
    border-radius: 20px;
}
.pic img{
    border-radius: 20px;
}
.rname{
    background-color:none;
    width:386px;
    height: 50px;
    margin: auto;
    margin-top: 25px;
}
.rprice{
    background-color:none;
    width:386px;
    height: 75px;
    margin: auto;
    margin-top: 10px;
}
h5{
    font-family: Arial;
    text-align: center;
    padding-top: 5px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 40px;
    color:black;
}
h6{
    font-family: Arial;
    text-align: center;
    padding-top: 5px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 28px;
    color:black;
    
}
h7{
   font-family: Arial;
    margin-top: 50px;
    padding-left: 150px;
    font-weight: bolder;
    font-size: 40px;
    color:skyblue; 
    text-align: center;
}

.testimonials{
    width: auto;
    height: 700px;
    background-color: greenyellow;
    margin-top: 0px;
}
h8{
    font-family: Arial;
    text-align: center;
    padding-top: 5px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 48px;
    color:black;
    
}
.corusel{
    background-color: none;
    width:1200px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    
}
.adesh{
    background-color: white;
    width: 550px;
    height: 400px;
    float: left;
}
.t-pic{
    background-color: none;
    width: 550px;
    height: 230px;
}
.t-txt{
    background-color: none;
    width: 550px;
    height: 150px;
    margin-top: 20px;
}
.rose{
    background-color: white;
    width: 550px;
    height: 400px;
    margin-left: 100px;
    float: left;
}
.t-photo{
    background-color: none;
    width: 350px;
    height: 230px;
    float: left;
}
.t-name{
    background-color: none;
    width: 200px;
    height: 230px;
    float: left;
    margin-left: 0px;
}
.name{
    background-color: none;
    width: 180px;
    height: 100px;
    float: left;
    margin-top: 65px;
    margin-bottom: 65px;
}

/*--------end main body-----*/
/*----footer------*/
footer{
    width: auto;
    height: 600px;
    background-color: black;
    margin-top: 0px;
}
.foothead{
    width: 1200px;
    height: 70px;
    background-color: none;
    margin-left: auto;
    margin-right: auto;
}
.sl{
    background-color:none;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-left: 0px;
    float: left;
}
.links{
    background-color:none;
    width: 250px;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
    float: left;
}
.find{
    background-color:none;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-left: 0px;
    float: left;
}
.soc{
    background-color:none;
    width: 250px;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
    float: left;
}
h9{
    font-family: Arial;
    text-align: left;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color:white;
}
.footcontent{
    width: 1200px;
    height: 200px;
    background-color: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.sl-c{
    background-color:none;
    width: 300px;
    height: 190px;
    margin-top: 5px;
    margin-left: 0px;
    float: left;
}
.links-c{
    background-color:none;
    width: 250px;
    height: 190px;
    margin-top: 5px;
    margin-left: 50px;
    float: left;
}
.find-c{
    background-color:none;
    width: 300px;
    height: 190px;
    margin-top: 5px;
    margin-left: 0px;
    float: left;
}
.soc-c{
    background-color:none;
    width: 250px;
    height: 190px;
    margin-top: 5px;
    margin-left: 50px;
    float: left;
}

h10{
    font-family: Arial;
    text-align: left;
    font-weight: normal;
    line-height: 35px;
    font-size: 20px;
    color:gray;
}
h11{
    font-family: Arial;
    text-align: left;
    font-weight: normal;
    font-size: 34px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.copyright{
    width: 1200px;
    height: 100px;
    background-color: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-top: thin solid gray;
}
c-text{
    width: 1200px;
    height: 100px;
    background-color: none;
    margin-left: auto;
    margin-right: auto;
}
/*------end footer-----*/
